<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>关于我们</title>
		<link rel="stylesheet" href="/static/css/bootstrap-work.min.css">
  		<script src="/static/js/jquery-3.3.1.min.js"></script>
  		<script src="/static/js/bootstrap-work.min.js"></script>
		  <style>
			  /* Make the image fully responsive */
			 html,body{height:100%;width:100%;} 
			 body{margin: 0;background-color: #2D343C}
			  .carousel-inner img {
			      width: 100%;
			  }
			  a{color: #FFFFFF;}
		  </style>
	</head>
	<body>
		<div class="container">
				<div class="text-center" style="padding: 2%;"><!-- 图片 logo-->
					<img src="/static/img/logo.png"/>
				</div>
				<div class="row" style="padding-top: 5%;">
					<div class="col-2">
						<h5 class="text-white">关于我们</h5>
					</div>
					<div class="text-white col-10">
					FOR YOU医数链的目标是通过区块链建立起一个无国界的医疗数据共享平台。通过区块链基础设施平台将全球所有医疗信息孤岛联为一体， 用区块链技术而非信任，保证数据源的隐私性、可靠性、真实性和数据使用的安全性、合法性。
   以职业病诊疗为切入点，打通医生—医生，医生—患者，患者—患者点对点关系，进而推广到其他病种诊疗，预计2018年，构建完成尘肺病、肺结节线上诊断平台，并发行token，2019年建立基于区块链数据共享平台互联网医院雏形。并将数据用于AI诊断、新药研发、医疗保险、基因与罕见病研究、精准医疗、捐赠救助。

					</div>
				</div>
				<div class="row" style="padding-top: 5%;">
					<div class="col-2">
						<h5 class="text-white">我们的理念</h5>
					</div>
					<div class="text-white col-10">
					    建立一个以区块链技术医疗数据共享平台，让患者、医生、药厂及所有医疗产业充分数据共享，重构医疗生态。
					</div>
				</div>
				<div class="text-center" style="padding-top:5% ;">
					<a href="main">返回首页</a>
				</div>
		</div>
	</body>
</html>
