<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>关于我们</title>
		<link rel="stylesheet" href="/static/css/bootstrap.css">
  		<script src="/static/js/jquery-3.3.1.min.js"></script>
  		<script src="/static/js/bootstrap.min.js"></script>
		  <style>
			  /* Make the image fully responsive */
			 html,body{height:100%;width:100%;} 
			 body{margin: 0;background-color: #2D343C}
			  .carousel-inner img {
			      width: 100%;
			  }
			  a{color: #FFFFFF;}
		  </style>
	</head>
	<body>
		<div class="container">
				<div class="text-center" style="padding: 2%;"><!-- 图片 logo-->
					<img src="/static/img/logo.png"/>
				</div>
				<div class="row" style="padding-top: 5%;">
					<div class="col-2">
						<h5 class="text-white">关于我们</h5>
					</div>
					<div class="text-white col-10">
					杰杰科技的第一个产品模块主要是计算机视觉的人工智能产品，包括但不限于“早期肺癌CT低剂量人工智能筛查系统”，“甲状腺癌B超人工智能筛查系统”、“尘肺病DR人工智能筛查系统”、“前列腺癌影像学人工智能筛查系统”、“结直肠癌影像人工智能筛查系统”、“胃癌的影像学人工智能筛查系统”等。二是计算机自然语言识别与新型认知推理计算相结合的人机对话模块，打造具有自主知识产权的本土化“WATSON”—杰杰科技的“ WISE  DOCTOR”
					</div>
				</div>
				<div class="row" style="padding-top: 5%;">
					<div class="col-2">
						<h5 class="text-white">我们的理念</h5>
					</div>
					<div class="text-white col-10">
					     杰杰科技的愿景是成为中国最具影响力的医学人工智能企业 杰杰科技的目标是为基层医疗机构服务，为老百姓服务，为第三方服务。

					“让专家院士给更多的老百姓看病”---我们的信念
					</div>
				</div>
				<div class="text-center" style="padding-top:5% ;">
					<a href="work.html">返回首页</a>
				</div>
		</div>
	</body>
</html>
