<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>医数链登录</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <style>
        body {
            margin: 0;
            background-color: #2D343C
        }
    </style>

</head>
<body>
<div class="container text-center" style="position: absolute;left: 65%; top: 20%;">
    <div>
        <div class="text-left text-info" style="padding-bottom: 2%;font-size: 130%;">用户登录</div>
        <div style="background-color: #484D53;width: 35%; border-radius: 5px;padding-top:30px;padding-bottom:30px;padding-left:40px ;padding-right: 40px; opacity: 0.4;">
            <div style="padding-top: 20px;padding-bottom: 30px;">
                <img src="/static/img/logo.png"/>
            </div>
            <form action="/login" method="post" name="login">
                       {{ form.hidden_tag() }}
                <div class="form-group text-left">
                    <label class="text-white" for="username">用户名</label>
                    {{form.user_mail(class_="form-control border-0 text-white",style="background-color: #888B90")}}
                    <!--<input class="form-control border-0 text-white" style="background-color: #888B90" id="username"/> -->
                </div>
                <div class="form-group text-left">
                    <label class="text-white" for="pwd">密码</label>
                    {{form.user_password(class_="form-control border-0 text-white",style="background-color:#888B90")}}
                    <!--<input class="form-control border-0 text-white" style="background-color: #888B90" type="password" id="pwd"/>-->
                </div>
                <div class="text-right" style="padding-right: 5px;">
                    <a class="text-info font-italic border-bottom" href="#">忘记密码</a>
                </div>
                <div style="padding-top: 40px;">
                    {{form.submit(class_="btn btn-primary", style="width:100px")}}
                </div>
            </form>
        </div>
        <div class="text-info text-left" style="padding-left: 25%;padding-top: 10%;">
            <a href="/main">回到首页</a>
        </div>
    </div>
</div>
<div class="fixed-bottom text-center bg-dark text-white-50">@2018 jiejiewisedoctor.com&nbsp;&nbsp;&nbsp;&nbsp;ALL&nbsp;rights&nbsp;reserved&nbsp;&nbsp;&nbsp;&nbsp;京ICP备16888888号-1</div>
</body>
</html>
