<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>产品介绍</title>
		<!-- Bootstrap Core CSS -->
	    <link rel="stylesheet" href="/static/css/bootstrap-work.css">
  		<script src="/static/js/jquery-3.3.1.min.js"></script>
  		<script src="/static/js/bootstrap-work.min.js"></script>
		  <style>
			  /* Make the image fully responsive */
			 html,body{height:100%;width:100%;} 
			 body{margin: 0;background-color: #2D343C}
			  .carousel-inner img {
			      width: 100%;
			  }
			  a{color: #FFFFFF;}
		  </style>
	</head>
	<body>
		<div class="container">
			<div class="text-center" style="padding: 2%;"><!-- 图片 logo-->
				<img src="/static/img/logo.png"/>
			</div>
			<div class="row" style="padding-top: 5%;">
				<div class="col-2">
					<p class="text-white">产品介绍</p>
				</div>
				<div class="col-10 text-white">
					<div class="form-inline">
					 	<img src="/static/img/product1.png" class="img-thumbnail" alt="">
					</div>
					<div style="padding-top:5% ;">
						杰杰科技的计算机视觉医学影像产品包括12个病种的CT、MRI、DR、超声，涵盖肺结节、乳腺癌、甲状腺癌、尘肺病、肝癌、胰腺癌、心动过速、脑梗、心梗等产品。其中尘肺病DR人工智能筛查系统、早期肺癌CT低剂量人工智能筛查系统已经在多家三甲医院临床测试上线，全国上百家医院正在开始部署。杰杰科技的认知推理计算产品基于肿瘤的咨询与诊疗，基于本土数据的“本地病例知识库”大量整合知名专家的诊治数据，配合强大文献数据检索与知识库总结能力，打造中国本土的医学人工智能产品。
					</div>
				</div>
			</div>
			<div class="text-center" style="padding-top:5% ;">
				<a href="/main">返回首页</a>
			</div>
		</div>	
	</body>
</html>
