<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>Bootstrap 实例 - 标签页（Tab）插件</title>
	  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.css">
  	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
  	<script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
  	<script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.js"></script>
  	<style>
		 	body{margin: 0;background-color: #2D343C}
	</style>
</head>
<body>
	<div class="container" style="padding-top:10% ;">
		<div class="text-center"><!-- 图片 logo-->
			<img src="img/logo.png"/>
		</div>
		<div id="navigation" style="padding-left:15% ;padding-right: 15%;padding-top: 5%;padding-bottom: 4%;">
			<div class="row" >
				<div class="col">
					<img src="img/SetUserTypePress.png" class="img-fluid" id="steponeimage"/>
				</div>
				<div class="col">
					<img src="img/PersonInfoRelease.png" class="img-fluid" id="steptwoimage"/>
				</div>
				<div class="col">
					<img src="img/RegisterSuccessRelease.png" class="img-fluid" id="stepthreeimage"/>
				</div>
			</div>
		</div>
		<div id="stepone">
			<form>
				<div class="row text-white">
					<div class="col-6 text-right">
						<div>
						  <label for="usertype">用户类型</label>
						</div>
						<div>
						  <label for="unit">单位名称</label>
						</div>
						<div>
							<label for="province">省份</label>
						</div>
					</div>
					<div class="col-6 text-left">
						<div>
						  <label class="radio-inline"><input type="radio" name="optradio">医生</label>
			    		  <label class="radio-inline"><input type="radio" name="optradio">普通用户</label>
						</div>
						<div>
						  <input type="password" id="unit" class="bg-secondary border-0">
						</div>
						
						<div style="padding-top: 5px;padding-bottom:5px ;">
							<select class="bg-secondary text-white border-0 align-middle" id="province">
						      <option>北京</option>
						      <option>江西</option>
						      <option>内蒙古</option>
						      <option>云南</option>
     						</select>
						</div>
					</div>
				</div>
				<div class="text-white text-center" style="padding-top: 5%;">
					<button type="button" class="btn btn-secondary btn-sm" onclick="changeImage(2)">下一步</button>
				</div>
			</form>
		</div>
		<div id="steptwo" style="display: none">
			<form>
				<div class="row text-white">			
					<div class="col-6 text-right">
						<div>
						   <label for="email">邮箱:</label>
						</div>
						<div>
						  <label for="pwd">密码:</label>
						</div>
						<div>
						  <label for="confirepwd">确认密码:</label>
						</div>
						<div>
					      <label for="hospital">医院:</label>					      
					    </div>
					    <div>
					      <label for="department">科室:</label>
					    </div>
					    <div>
					    	<label for="phone">手机号:</label>
					    </div>
					    <div>
					      <label for="verification">验证码:</label>
					    </div>
					</div>
					<div class="col-6 text-left">
						<div>
					      <input type="text" class="bg-secondary border-0 text-white" id="email" style="margin-bottom: 5px;margin-top:1px ;">
					    </div>
					    <div>
					      <input type="password" class="bg-secondary border-0 text-white" id="pwd" style="margin-bottom: 5px;margin-top:1px ;">
					    </div>
					    <div>
					      <input type="text" class="bg-secondary border-0 text-white" id="confirepwd" style="margin-bottom: 5px;margin-top:1px ;">
					    </div>
					    <div>
					      <input type="password" class="bg-secondary border-0 text-white" id="hospital" style="margin-bottom: 5px;margin-top:1px ;">
					    </div>
					    <div>
					      <input type="text" class="bg-secondary border-0 text-white" id="department" style="margin-bottom: 5px;margin-top:1px ;">
					    </div>
					    <div>
					      <input type="password" class="bg-secondary border-0 text-white" id="phone" style="margin-bottom: 5px;margin-top:1px ;">
					    </div>
					    <div>
					      <span>
					      	<input type="password" class="bg-secondary border-0 text-white" id="verification" style="margin-bottom: 5px;margin-top:1px ;">
					      	<button type="button" class="btn-sm bg-secondary border-0 text-white">发送验证码</button>
					      </span>
					    </div>
					</div>
				</div>
				<div class="text-white text-center" style="padding-top: 5%;">
					<span>
						<button type="button" class="btn btn-secondary btn-sm" onclick="changeImage(3)">下一步</button>
					</span>	
				</div>
			</form>	
		</div>
		<div id="stepthree" style="display: none">
			<div class="text-white text-center">
				<div>
					恭喜您成功注册医数链医疗数据平台，基于区块链技术实现、去中心化、可信赖
				</div>
				<span>
					<label for="userid">用户ID:</label>
					<input id="useid"class="text-white bg-transparent border-0" value="3456799123055"/>
				</span>
			</div>
			<div class="text-center" style="padding-top: 10px;">
				<button type="button" class="text-white bg-secondary btn-sm border-0" onclick="location='main.html'">进入首页</button>
			</div>
		</div>
	</div>
	<script>
	function changeImage(page)
	{
		switch(page)
		{
			case 1:
				 document.getElementById("stepone").style.display = "inline";
				 document.getElementById("steptwo").style.display = "none";
				 document.getElementById("stepthree").style.display = "none";
				 document.getElementById("steponeimage").src = 'img/SetUserTypePress.png';
				 document.getElementById("steptwoimage").src = 'img/PersonInfoRelease.png';
				 document.getElementById("stepthreeimage").src = 'img/RegisterSuccessRelease.png';
			case 2:
				 document.getElementById("stepone").style.display = "none";
				 document.getElementById("steptwo").style.display = "inline";
				 document.getElementById("stepthree").style.display = "none";
				 document.getElementById("steponeimage").src = 'img/SetUserTypePress.png';
				 document.getElementById("steptwoimage").src = 'img/PersonInfoPress.png';
				 document.getElementById("stepthreeimage").src = 'img/RegisterSuccessRelease.png';
				break;
			case 3:
				 document.getElementById("stepone").style.display = "none";
				 document.getElementById("steptwo").style.display = "none";
				 document.getElementById("stepthree").style.display = "inline";
				 document.getElementById("steponeimage").src = 'img/SetUserTypePress.png';
				 document.getElementById("steptwoimage").src = 'img/PersonInfoPress.png';
				 document.getElementById("stepthreeimage").src = 'img/RegisterSuccessPress.png';
				break;
			default:
				break;
		}
	};
  	</script>
</body>
</html>