<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>注册</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script src="jquery-3.2.1.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <style>
        body {
            margin: 0;
            background-color: #2D343C
        }
    </style>
</head>
<body>
<div class="container" style="padding-top:10% ;">
    <div class="text-center"><!-- 图片 logo-->
        <img src="/static/img/logo.png"/>
    </div>
    <div id="navigation" style="padding-left:15% ;padding-right: 15%;padding-top: 5%;padding-bottom: 4%;">
        <div class="row">
            <div class="col">
                <img src="/static/img/SetUserTypePress.png" class="img-fluid" id="steponeimage"/>
            </div>
            <div class="col">
                <img src="/static/img/PersonInfoPress.png" class="img-fluid" id="steptwoimage"/>
            </div>
            <div class="col">
                <img src="/static/img/RegisterSuccessPress.png" class="img-fluid" id="stepthreeimage"/>
            </div>
        </div>
    </div>

    <div id="stepthree" style="display: inline">
        <div class="text-white text-center">
            <div>
                恭喜您成功注册医数链医疗数据平台
                <!--基于区块链技术实现、去中心化、可信赖-->
                您的账户地址为:{{wallet}}。首次注册奖励您FoYo币{{credit}}个
            </div>
        </div>
        <div class="text-center" style="padding-top: 10px;">
            <button type="button" class="text-white bg-secondary btn-sm border-0" onclick="location='/login'">进入登陆
            </button>
        </div>
    </div>
</div>
<script>
    onload=function(){
            setTimeout(go, 5000);
        };
        function go(){
            location.href="/login";
        }
</script>
</body>
</html>