{% extends "base.html" %}
{% block content %}
{% include 'flash.html' %}
<h1>Sign Up</h1>
<form action="/sign-up" method="post" name="sign_up">
    {{ form.hidden_tag() }}
    <p>user_name: </p><p> {{ form.user_name }}</p>
    <p>user_password: </p><p>{{ form.user_password }}</p>
    <p>user_type: </p><p>{{ form.user_type }}</p>
    <p>user_city: </p><p>{{ form.user_city }}</p>
    <p>user_hospital: </p><p>{{ form.user_hospital }}</p>
    <p>user_department: </p><p>{{ form.user_department }}</p>
    <p>user_phone: </p><p>{{ form.user_phone }}</p>
    <p>user_chain_address: </p><p>{{ form.user_chain_address }}</p>
    <p>{{ form.submit }}</p>
</form>
{% endblock %}
