{% extends "base.html" %}
{% block content %}
{% include 'flash.html' %}
<h1>Upload</h1>
<form action="/upload-case" method="post" name="upload-case">
    {{ form.hidden_tag() }}
    <p>patient_name</p><p>{{form.patient_name}}</p>
    <p>patient_gender</p><p>{{form.patient_gender}}</p>
    <p>patiend_photo_type</p><p>{{form.patient_photo_type}}</p>
    <p>patient_photo_file</p><p>{{form.patient_photo_file}}</p>
    <p>{{form.submit}}</p>
</form>


<input onclick="add_to_ipfs()" type="button" value="test_ipfs_api"/>
<input type="file" id="files" style="display: none" onchange="read_file_binary(this);">
<input type="button" id="fileImport" value="导入">

<!-- <script src="/static/js/ipfs.js"></script> -->
<script src="/static/js/buffer.js"></script>
<script src="/static/js/file-type.js"></script>
<script src="/static/js/ipfs.js"></script>
<script type="text/javascript">

    ipfs.setProvider();

    $("#fileImport").click(function () {
            $("#files").click();
    })
    function read_file_binary(obj) {
        var file = obj.files[0];
        var reader = new FileReader();
        reader.readAsBinaryString(file);
        reader.onload = function () {
            var data = this.result;
            var jpgBuffer = new buffer.Buffer(data, 'binary');
            ipfs.add(jpgBuffer, function(err, resHash) {
              alert(resHash)
            });
        }
    }
</script>

{% endblock %}


