<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>工作主界面</title>
    <link rel="stylesheet" href="/static/css/bootstrap-work.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-work.min.js"></script>
    <script type="text/javascript" src="/static/js/popper.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript" src="/static/js/for-you-table.js"></script>
    <style>
        /* Make the image fully responsive */
        html, body {
            height: 100%;
            width: 100%;
        }

        body {
            background-color: #2D343C
        }

        .carousel-inner img {
            width: 100%;
        }

        a {
            color: #FFFFFF;
        }
    </style>
    <style type="text/css" media="screen">
        .comment-history-table-header {
            display: none;
        }
        #case-table_filter label {
            color: white;
        }

        #case-table_filter input {
            /*width: 100px;*/
            margin: auto;
            outline: none;
            border-bottom-left-radius: 20px;
            border-top-left-radius: 20px;
            border-bottom-right-radius: 20px;
            border-top-right-radius: 20px;
        }

        #comment-page-case-table_filter input {
            /*width: 100px;*/
            margin: auto;
            outline: none;
            border-bottom-left-radius: 20px;
            border-top-left-radius: 20px;
            border-bottom-right-radius: 20px;
            border-top-right-radius: 20px;
        }

        #ask-huizhen-case-table_filter input {
            /*width: 100px;*/
            margin: auto;
            outline: none;
            border-bottom-left-radius: 20px;
            border-top-left-radius: 20px;
            border-bottom-right-radius: 20px;
            border-top-right-radius: 20px;
        }

        #answer-huizhen-case-table_filter input {
            /*width: 100px;*/
            margin: auto;
            outline: none;
            border-bottom-left-radius: 20px;
            border-top-left-radius: 20px;
            border-bottom-right-radius: 20px;
            border-top-right-radius: 20px;
        }

        #source-user-case-table_filter input {
            /*width: 100px;*/
            margin: auto;
            outline: none;
            border-bottom-left-radius: 20px;
            border-top-left-radius: 20px;
            border-bottom-right-radius: 20px;
            border-top-right-radius: 20px;
        }

        #source-expert-case-table_filter input {
            /*width: 100px;*/
            margin: auto;
            outline: none;
            border-bottom-left-radius: 20px;
            border-top-left-radius: 20px;
            border-bottom-right-radius: 20px;
            border-top-right-radius: 20px;
        }
    </style>
</head>
<body>
<div>
    <div class="row clearfix"
         style="padding-top:1%;padding-bottom: 1%;border-bottom-width: 4px;border-bottom-style: solid;border-color: #3B586E;">
        <div class="col-md-4 column text-center">
            <img src="/static/img/logo.png"><img/>
        </div>
        <div class="col-md-6 column">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="main">首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="product">服务介绍</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about-us">了解我们</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact-us">联系我们</a>
                </li>
            </ul>
        </div>
        <div class="col-md-2 column">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="#"><img class="rounded-circle" src="/static/img/head.jpg" width="35px"
                                                      height="35px"><img/></a>
                </li>
                <li class="nav-item">
                    <label id="username" class="nav-link text-white">{{current_user.user_name if
                        current_user.is_authenticated else "未登录"}}</label>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><img src="/static/img/CH.png"><img/></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-2">
        </div>
        <div class="col-md-1" style="background-color: #333A44;" style="padding-top: 5%;">
            <!-- Links -->
            <ul class="nav navbar-nav nav-justified">
                <li class="nav-item" style="padding-top: 20px;padding-bottom: 20px;">
                    <a class="nav-link active" data-toggle="pill" data-tag="" href="#my_load">我要上传</a>
                </li>
                <li class="nav-item" style="padding-top: 20px;padding-bottom: 20px;">
                    <a class="nav-link" data-toggle="pill" data-tag="comment-" href="#my_mark">我要标注</a>
                </li>
                <li class="nav-item" style="padding-top: 20px;padding-bottom: 20px;">
                    <a class="nav-link" data-toggle="pill" data-tag="huizhen-" href="#my_detect">我要会诊</a>
                </li>
                <li class="nav-item" style="padding-top: 20px;padding-bottom: 20px;">
                    <a class="nav-link" data-toggle="pill" id ='check_source' data-tag="source-" href="#my_source">资源中心</a>
                </li>
                <li class="nav-item" style="padding-top: 20px;padding-bottom: 20px;">
                    <a class="nav-link" data-toggle="pill" href="#">诊断记录</a>
                </li>
                <li class="nav-item" style="padding-top: 20px;padding-bottom: 20px;">
                    <a class="nav-link" data-toggle="pill" href="#">健康管理</a>
                </li>
                <li class="nav-item" style="padding-top: 20px;padding-bottom: 20px;">
                    <a class="nav-link" data-toggle="pill" id='check_wallet' href="#my_wallet">管理钱包</a>
                </li>
                <li class="nav-item" style="padding-top: 20px;padding-bottom: 20px;">
                    <a class="nav-link" data-toggle="pill" id='check_person' href="#my_person_info">个人信息</a>
                </li>
            </ul>
        </div>
        <div class="col-md-7 tab-content">
            <div class="tab-pane active" id="my_load" style="padding-top: 2%;">
                <div class="text-center text-white" style="font-size: 150%;" id="">
                    <p>上传患病信息</p>
                </div>
                <div style="padding-top: 1%;padding-bottom: 1%;">
                    <button type="button" class="btn btn-primary btn-sm" style="padding-right:25px;margin-right: 20px;"
                            data-toggle="modal" data-target="#loadimage"><img src="/static/img/上传1.png"/>&nbsp;&nbsp;上&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;传
                    </button>
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#fqhzModal">
                        <img src="/static/img/会诊1.png"/>&nbsp;&nbsp;发起会诊
                    </button>
                </div>
                <div id="new-search-area" class="input-group" style="padding-top: 1%;">
                    <!-- <span class="input-group-btn bg-secondary" style="margin: auto;border-radius: 20px;padding: 5px;">
                        <input type="text" class="bg-secondary border-0 text-white" value="请输入病人ID" style="width:300px;margin: auto;border-bottom-left-radius: 20px;border-top-left-radius: 20px;">
                        <img src="/static/img/查询.png"/>
                    </span> -->
                </div><!-- /input-group -->
                <div style="padding-top: 2%; padding-bottom: 5%">
                    <table id="case-table" class="display" style="width:100%; background-color: black; color: white;">
                        <thead>
                        <tr>
                            <th><input type="checkbox" name="select_all" id="select-all"></th>
                            <th>index</th>
                            <th>患者ID</th>
                            <th>姓名</th>
                            <th>性别</th>
                            <th>年龄</th>
                            <th>影像类型</th>
                            <th>良恶性</th>
                            <th>诊断结果</th>
                            <th>标注状态</th>
                            <th>上传日期</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                    </table>

                    <!-- <table class="table table-dark table-hover">
                        <thead>
                          <tr>
                              <th>
                                <input type="checkbox" value="" style="margin: 0px;">全选
                              </th>
                            <th>患者ID</th>
                            <th>姓名</th>
                            <th>性别</th>
                            <th>年龄</th>
                            <th>影像类型</th>
                            <th>良恶性</th>
                            <th>诊断结果</th>
                            <th>上传日期</th>
                            <th>操作</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                              <td><input type="checkbox" value="" style="margin: 0px;"></td>
                            <td>201804181023</td>
                            <td>唐宝来</td>
                            <td>男</td>
                            <td>54</td>
                            <td>DR</td>
                            <td>良性</td>
                            <td>正常</td>
                            <td>2018/04/18 10:23:45</td>
                            <td class="text-info"><a href="check.html">查看</a></td>
                          </tr>
                          <tr>
                            <td><input type="checkbox" value="" style="margin: 0px;"></td>
                            <td>201804181026</td>
                            <td>富兴</td>
                            <td>男</td>
                            <td>66</td>
                            <td>DR</td>
                            <td>良性</td>
                            <td>正常</td>
                            <td>2018/04/18 10:12:21</td>
                            <td class="text-info"><a href="check.html">查看</a></td>
                          </tr>
                          <tr>
                            <td><input type="checkbox" value="" style="margin: 0px;"></td>
                            <td>201804181032</td>
                            <td>李子来</td>
                            <td>男</td>
                            <td>69</td>
                            <td>DR</td>
                            <td>恶性</td>
                            <td>一期</td>
                            <td>2018/04/18 10:32:56</td>
                            <td class="text-info"><a href="check.html">查看</a></td>
                          </tr>
                           <tr>
                            <td><input type="checkbox" value="" style="margin: 0px;"></td>
                            <td>201804181033</td>
                            <td>王富贵</td>
                            <td>男</td>
                            <td>57</td>
                            <td>DR</td>
                            <td>恶性</td>
                            <td>一期</td>
                            <td>2018/04/18 10:33:12</td>
                            <td class="text-info"><a href="check.html">查看</a></td>
                          </tr>
                           <tr>
                           <td><input type="checkbox" value="" style="margin: 0px;"></td>
                            <td>201804181036</td>
                            <td>王金彪</td>
                            <td>男</td>
                            <td>35</td>
                            <td>DR</td>
                            <td>恶性</td>
                            <td>一期</td>
                            <td>2018/04/18 10:36:23</td>
                            <td class="text-info"><a href="check.html">查看</a></td>
                          </tr>
                          <tr>
                           <td><input type="checkbox" value="" style="margin: 0px;"></td>
                            <td>201804181049</td>
                            <td>赵任申</td>
                            <td>男</td>
                            <td>42</td>
                            <td>DR</td>
                            <td>良性</td>
                            <td>正常</td>
                            <td>2018/04/18 10:49:12</td>
                            <td class="text-info"><a href="check.html">查看</a></td>
                          </tr>
                          <tr>
                           <td><input type="checkbox" value="" style="margin: 0px;"></td>
                            <td>201804180152</td>
                            <td>张金鑫</td>
                            <td>男</td>
                            <td>67</td>
                            <td>DR</td>
                            <td>恶性</td>
                            <td>一期</td>
                            <td>2018/04/18 10:53:34</td>
                            <td class="text-info"><a href="check.html">查看</a></td>
                          </tr>
                          <tr>
                              <td><input type="checkbox" value="" style="margin: 0px;"></td>
                            <td>201804181053</td>
                            <td>王志珠</td>
                            <td>女</td>
                            <td>35</td>
                            <td>DR</td>
                            <td>良性</td>
                            <td>正常</td>
                            <td>2018/04/18 10:53:49</td>
                            <td class="text-info"><a href="check.html">查看</a></td>
                          </tr>
                          <tr>
                              <td><input type="checkbox" value="" style="margin: 0px;"></td>
                            <td>201804181058</td>
                            <td>周少林</td>
                            <td>男</td>
                            <td>47</td>
                            <td>DR</td>
                            <td>良性</td>
                            <td>正常</td>
                            <td>2018/04/18 10:58:48</td>
                            <td class="text-info"><a href="check.html">查看</a></td>
                          </tr>
                          <tr>
                              <td><input type="checkbox" value="" style="margin: 0px;"></td>
                            <td>201804181101</td>
                            <td>魏文国</td>
                            <td>男</td>
                            <td>69</td>
                            <td>DR</td>
                            <td>恶性</td>
                            <td>一期</td>
                            <td>2018/04/18 11:02:12</td>
                            <td class="text-info"><a href="check.html">查看</a></td>
                          </tr>
                        </tbody>
                      </table>
                      <div class="container-fluid" style="padding-left: 40%;">
                             <ul class="pagination pagination-sm">
                               <li class="page-item"><a class="page-link" href="">&laquo;</a></li>
                              <li class="page-item"><a class="page-link" href="">1</a></li>
                              <li class="page-item active"><a class="page-link" href="">2</a></li>
                              <li class="page-item"><a class="page-link" href="">3</a></li>
                              <li class="page-item"><a class="page-link" href="">&raquo;</a></li>
                            </ul>
                      </div> -->
                </div>
            </div>
            <div class="tab-pane fade" id="my_mark" style="padding-top: 2%;">
                <div class="text-center text-white" style="font-size: 150%;">
                    <p>我要标注</p>
                </div>
                <div style="padding-top: 1%;padding-bottom: 1%;">
                    <button type="button" class="btn btn-primary btn-sm" style="padding-right:25px;margin-right: 20px;"
                            id="startComment"><img src="/static/img/上传1.png"/>&nbsp;&nbsp;标&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注
                    </button>
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#fqhzModal">
                        <img src="/static/img/会诊1.png"/>&nbsp;&nbsp;发起会诊
                    </button>
                </div>
                <div class="input-group" style="padding-top: 1%;">
                    <!-- <span class="input-group-btn bg-secondary" style="margin: auto;border-radius: 20px;padding: 5px;">
                        <input type="text" class="bg-secondary border-0 text-white" value="请输入病人ID" style="width:300px;margin: auto;border-bottom-left-radius: 20px;border-top-left-radius: 20px;">
                        <img src="/static/img/查询.png"/>
                    </span> -->
                </div><!-- /input-group -->
                <div style="padding-top: 2%;padding-bottom: 5%;">
                    <table id="comment-page-case-table" class="display"
                           style="width:100%; background-color: black; color: white;">
                        <thead>
                        <tr>
                            <th><input type="checkbox" name="comment-select-all" id="comment-select-all"></th>
                            <th>index</th>
                            <th>患者ID</th>
                            <th>姓名</th>
                            <th>性别</th>
                            <th>年龄</th>
                            <th>影像类型</th>
                            <th>良恶性</th>
                            <th>诊断结果</th>
                            <th>标注状态</th>
                            <th>上传日期</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="my_detect" style="padding-top: 2%;">
                <div class="text-center text-white" style="font-size: 150%;" >
                    <p>我要会诊</p>
                </div>
                <div>
                    <div class="border-secondary"
                         style="padding-top: 1%;border-bottom-width: 2px;border-bottom-style: solid;">
                        <ul class="nav navbar-collapse" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active show huizhen-nav" data-tag="ask-huizhen-" data-toggle="pill" href="#fqhz">发起会诊</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link huizhen-nav" data-tag="answer-huizhen-" data-toggle="pill" href="#jshz" id ="show-jshz">接收会诊</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active" id="fqhz">
                            <div style="padding-top: 1%;padding-bottom: 1%;">
                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                        data-target="#loadimage"><img src="/static/img/上传1.png"/>上传
                                </button>
                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                        data-target="#fqhzModal"><img src="/static/img/会诊1.png"/>发起会诊
                                </button>
                            </div>
                            <div class="input-group" style="padding-top: 1%;">
                                <!-- <span class="input-group-btn bg-secondary" style="margin: auto;border-radius: 20px;padding: 5px;">
                                    <input type="text" class="bg-secondary border-0 text-white" value="请输入病人ID" style="width:300px;margin: auto;border-bottom-left-radius: 20px;border-top-left-radius: 20px;">
                                    <img src="/static/img/查询.png"/>
                                </span> -->
                            </div><!-- /input-group -->
                            <div style="padding-top: 2%;padding-bottom: 5%;">
                                <table id="ask-huizhen-case-table" class="display"
                                       style="width:100%; background-color: black; color: white;">
                                    <thead>
                                    <tr>
                                        <th><input type="checkbox" name="ask-huizhen-page-select-all"
                                                   id="ask-huizhen-page-select-all"></th>
                                        <th>index</th>
                                        <th>患者ID</th>
                                        <th>姓名</th>
                                        <th>性别</th>
                                        <th>年龄</th>
                                        <th>影像类型</th>
                                        <th>良恶性</th>
                                        <th>诊断结果</th>
                                        <th>标注状态</th>
                                        <th>上传日期</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="jshz">
                            <div>

                            </div>
                            <div style="padding-top: 1%;padding-bottom: 1%;">

                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                        data-target="#cktest" id='startConsult'><img src="/static/img/会诊1.png"/>会诊
                                </button>
                            </div>
                            <div class="input-group" style="padding-top: 1%;">
                                <!-- <span class="input-group-btn bg-secondary" style="margin: auto;border-radius: 20px;padding: 5px;">
                                    <input type="text" class="bg-secondary border-0 text-white" value="请输入病人ID" style="width:300px;margin: auto;border-bottom-left-radius: 20px;border-top-left-radius: 20px;">
                                    <img src="/static/img/查询.png"/>
                                </span> -->
                            </div><!-- /input-group -->
                            <div style="padding-top: 2%;padding-bottom: 5%;">
                                <table id="answer-huizhen-case-table" class="display"
                                       style="width:100%; background-color: black; color: white;">
                                    <thead>
                                    <tr>
                                        <th><input type="checkbox" name="answer-huizhen-page-select-all"
                                                   id="answer-huizhen-page-select-all"></th>
                                        <th>index</th>
                                        <th>会诊说明</th>
                                        <th>发起人</th>
                                        <th>所在医院</th>
                                        <th>所在科室</th>
                                        <th>发起日期</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="my_source" style="padding-top: 2%;">
                <div class="text-center text-white" style="font-size: 150%;" >
                    <p>资源中心</p>
                </div>
                <div class="border-secondary"
                     style="padding-top: 1%;border-bottom-width: 2px;border-bottom-style: solid;">
                    <ul class="nav navbar-collapse" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active show source-nav" data-tag="source-user-" data-toggle="pill" href="#yhdtgx">用户动态更新</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link source-nav" data-tag="source-expert-" data-toggle="pill" href="#zjzydt">专家资源动态</a>
                        </li>
                    </ul>
                </div>
                <div style="padding-top: 1%;padding-bottom: 1%;">
                    <button type="button" class="btn btn-primary btn-sm" style="padding-right:25px;margin-right: 20px;"
                            data-toggle="modal" data-target="#loadimage"><img src="/static/img/上传1.png"/>&nbsp;&nbsp;上&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;传
                    </button>
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                            style="padding-right:25px;margin-right: 20px;" data-target="#fqhzModal"><img
                            src="/static/img/会诊1.png"/>&nbsp;&nbsp;发起会诊
                    </button>
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#update"><img
                            src="/static/img/会诊1.png"/>&nbsp;&nbsp;更新专家
                    </button>
                </div>
                <div class="input-group" style="padding-top: 1%;">
                    <!-- <span class="input-group-btn bg-secondary" style="margin: auto;border-radius: 20px;padding: 5px;">
                        <input type="text" class="bg-secondary border-0 text-white" value="请输入病人ID" style="width:300px;margin: auto;border-bottom-left-radius: 20px;border-top-left-radius: 20px;">
                        <img src="/static/img/查询.png"/>
                    </span> -->
                </div><!-- /input-group -->
                <div class="tab-content">
                    <div id="yhdtgx" class="tab-pane active" style="padding-top: 2%;">
                        <table id="source-user-case-table" class="display"
                               style="width:100%; background-color: black; color: white;">
                            <thead>
                            <tr>
                                <th><input type="checkbox" name="source-user-select-all" id="source-user-select-all">
                                </th>
                                <th>index</th>
                                <th>患者ID</th>
                                <th>姓名</th>
                                <th>性别</th>
                                <th>年龄</th>
                                <th>影像类型</th>
                                <th>良恶性</th>
                                <th>诊断结果</th>
                                <th>标注状态</th>
                                <th>上传日期</th>
                                <th>医院</th>
                                <th>科室</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                        </table>
                        <!-- </div> -->
                    </div>
                    <div id="zjzydt" class="tab-pane fade" style="padding-top: 2%;">
                        <table id="source-expert-case-table" class="display"
                               style="width:100%; background-color: black; color: white;">
                            <thead>
                            <tr>
                                <th><input type="checkbox" name="source-expert-select-all"
                                           id="source-expert-select-all"></th>
                                <th>index</th>
                                <th>患者ID</th>
                                <th>姓名</th>
                                <th>性别</th>
                                <th>年龄</th>
                                <th>影像类型</th>
                                <th>良恶性</th>
                                <th>诊断结果</th>
                                <th>标注状态</th>
                                <th>上传日期</th>
                                <th>医院</th>
                                <th>专家</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="my_person_info" style="padding-top:2%">
            <div class="text-center text-white" style="font-size: 150%;" >
                <p>个人信息</p>
            </div>
            <div>
                <label class="text-white">修改个人资料</label>
            </div>
            <div class="text-white align-content-center">
                <form>
                    <div class="input-group">
								<span style="margin: auto;">
									<label for="name">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</label>
									<input type="text" id="name" class="bg-secondary border-0 text-white"
                                           style="margin: auto;padding-left: 5px;"></input>
								</span>
                    </div><!-- /input-group -->
                    <div class="input-group">
								<span style="margin: auto;">
									<label for="age">年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;龄</label>
							   		<input type="number" id="age" class="bg-secondary border-0 text-white"
                                           style="margin: auto;padding-left: 5px;"></input>
								</span>
                    </div><!-- /input-group -->
                    <div class="input-group">
								<span style="margin: auto;">
							    	<label for="hospital">任职医院</label>
							    	<input type="text" id="hospital" class="bg-secondary border-0 text-white"
                                           style="margin: auto;padding-left: 5px;"></input>
								</span>
                    </div>
                    <div class="input-group">
								<span style="margin: auto;">
							    	<label for="">科&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;室</label>
							    	<input type="text" id="department" class="bg-secondary border-0 text-white"
                                           style="margin: auto;padding-left: 5px;"></input>
								</span>
                    </div>
                    <div class="input-group">
								<span style="margin: auto;">
							    	<label for="">职&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;务</label>
							    	<input type="text" id="title" class="bg-secondary border-0 text-white"
                                           style="margin: auto;padding-left: 5px;"></input>
								</span>
                    </div>
                    <div class="input-group">
								<span style="margin: auto;">
							    	<label for="">手&nbsp;&nbsp;机&nbsp;&nbsp;号</label>
							    	<input type="text" id="telephone" class="bg-secondary border-0 text-white"
                                           style="margin: auto;padding-left: 5px;"></input>
								</span>
                    </div>
                    <div class="input-group">
								<span style="margin: auto;">
							    	<label for="">邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱</label>
							    	<input type="text" id="mail" class="bg-secondary border-0 text-white"
                                           style="margin: auto;padding-left: 5px;" readonly="readonly"></input>
								</span>
                    </div>
                    <div class="input-group">
							    <span style="margin: auto;">
							    	<label for="province">省&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;份</label>
							     	<select class="bg-secondary border-0 text-white" id="province"
                                            style="margin: auto;padding-left: 5px;">
								        <option>北京</option>
								        <option>江西</option>
								        <option>内蒙古</option>
								        <option>云南</option>
							     	</select>
							    </span>
                    </div>
                    <div class="input-group">
								<span style="margin: auto;">
							    	<label for="gx">影像共享</label>
							    	<select class="bg-secondary border-0 text-white" id="allowshare"
                                            style="margin: auto;padding-left: 5px;">
								        <option>是</option>
								        <option>否</option>
							     	</select>
								</span>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary btn-sm" style="margin: auto;" id="update_personal_info">修改</button>
                    </div>
                </form>
            </div>
        </div>
            <div class="tab-pane fade" id="my_wallet" style="padding-top:2%">
            <div class="text-center text-white" style="font-size: 150%;" >
                <p>我的钱包</p>
            </div>
            <div style="padding-top: 2%;">
            	<table id="wallet_table" class="display"
                               style="width:100%; background-color: black; color: white;">
                    <thead>
                    <tr>
                    	<th>index</th>
                        <th>日期</th>
                        <th>交易类型</th>
                        <th>交易数量</th>
                        <th>信息摘要</th>
<!--                         <th>余币</th>
                        <th>信息摘要</th>
 -->                    </tr>
                    </thead>
                </table>
                <!-- <div class="container-fluid" style="padding-left: 40%;">
                    <ul class="pagination pagination-sm">
                        <li class="page-item"><a class="page-link" href="">&laquo;</a></li>
                        <li class="page-item"><a class="page-link" href="">1</a></li>
                        <li class="page-item active"><a class="page-link" href="">2</a></li>
                        <li class="page-item"><a class="page-link" href="">3</a></li>
                        <li class="page-item"><a class="page-link" href="">&raquo;</a></li>
                    </ul>
                </div> -->
            </div>
        </div>
        </div>

    </div>
</div>
<!-- 模态框 -->
<div class="modal fade text-center" id="preview-modal">
    <div class="modal-dialog " style="max-width: none! important; display:  inline-block;width:  auto;">
    <img id='preview'></img>
</div>
</div>
<div class="modal fade" id="loadimage" tabindex="-1" role="dialog" aria-labelledby="loadimage">
    <div class="modal-dialog ">
        <div class="modal-content" style="background-color: #2D343C;">
            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title text-white">上传</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- 模态框主体 -->
            <div class="modal-body text-white">
                <form>
                    <div class="form-group">
                        <label for="">病人姓名</label>
                        <input type="text" class="form-control bg-secondary text-white" id="patient_name">
                    </div>
                    <div class="form-group">
                        <label for="">病人性别</label>
                        <input type="text" class="form-control bg-secondary text-white" id="patient_gender">
                    </div>
                    <div class="form-group">
                        <label for="">病人年龄</label>
                        <input type="text" class="form-control bg-secondary text-white" id="patient_age">
                    </div>
                    <div class="form-inline">
                        <label for="">良恶性</label>
                        <select class="bg-secondary border-0 text-white" id="patient_diagnose_type"
                                style="margin: auto;padding-left: 5px;">
                            <option>良性</option>
                            <option>恶性</option>
                        </select>
                        <label for="">诊断结果</label>
                        <select class="bg-secondary border-0 text-white" id="patient_diagnose_result"
                                style="margin: auto;padding-left: 5px;">
                            <option>正常</option>
                            <option>尘肺病一期</option>
                            <option>尘肺病一期</option>
                            <option>尘肺病二期</option>
                            <option>尘肺病三期</option>
                        </select>
                    </div>
                    <div class="form-group" style="padding-top:10px ;">
                        <label>影像类型</label>
                        <select class="bg-secondary border-0 text-white" id="patient_photo_type"
                                style="margin: auto;padding-left: 5px;">
                            <option>CT</option>
                            <option>DR</option>
                            <option>CR</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">文件路径</label>
                        <input type="file" id="files" style="display: none" onchange="read_file_binary(this);">

                        <input type="button" id="fileImport" value="选择文件">
                        <input type="text" class="form-control bg-secondary text-white"
                               id="patient_photo_file">
                    </div>
                </form>
            </div>
            <!-- 模态框底部 -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary text-white" id="loadImageBtn">上传</button>
            </div>
        </div>
    </div>
</div>
<!-- 更新专家库 -->
<div class="modal fade" id="update">
    <div class="modal-dialog ">
        <div class="modal-content" style="background-color: #2D343C;">
            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title text-white">专家库更新</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- 模态框主体 -->
            <div class="modal-body text-white">
                <label for="comment" class="text-white">更新内容:</label>
                <textarea class="form-control text-white bg-secondary" rows="5" id="update-expert-comment"></textarea>
            </div>
            <!-- 模态框底部 -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary text-white" data-dismiss="modal" id="updateExpertBtn">
                    更新
                </button>
            </div>
        </div>
    </div>
</div>
<!-- 会诊 -->
<div class="modal fade text-center" id="cktest">
    <div class="modal-dialog " style="max-width: none! important; display:  inline-block;width:  auto;">
        
        <div class="modal-content" style="background-color: #2D343C;">
            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title text-white">会诊病例：</h4>
                <h4 class="modal-title text-white" id ="consultation_case_id"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- 模态框主体 -->
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-8" >
                            <img id='consult_img' height="800" width="500" class="float-right"/>
                        </div>
                        <div class="col-4 text-left" style="background-color: #5A6268;padding-top: 1%;">
                            <div>
                                <label class="text-white" for="title">求助说明</label>
                                <label class="form-control bg-secondary text-white" rows="2" id="consultation_message"></label>
                            </div>
                            <div>
                                <label class="text-white" for="reveice">我的回复</label>
                                <textarea class="form-control bg-secondary text-white" rows="2"
                                          id="my_comment"></textarea>
                                <div class="text-right" style="padding: 5px;">
                                    <button class="btn-sm bg-secondary text-white border-0" id="add_consultation_comment">发送</button>
                                </div>

                            </div>
                            <div style="padding-top: 2%;">
                                <table id="comment-history-table" class="display" style="max-width: 220px; width:100%; background-color: black; color: white;">
                                    <thead class="comment-history-table-header">
                                    <tr>
                                        <th>index</th>
                                        <th>医生</th>
                                        <th>评论</th>
                                        <th>日期</th>
                                    </tr>
                                    </thead>
                                </table>
                                <!-- <textarea class="form-control bg-secondary text-white" rows="5">李敏:疑似尘肺病，需要进一步复诊，需要更精确的数据才能确认尘肺病几期。 赵磊:精确数据确认尘肺病一期。</textarea> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 模态框底部 -->
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary text-white" data-dismiss="modal" id="fqhzModalBtn">发送
                </button>
            </div> -->
        </div>
    </div>
</div>
<!-- 发起会诊 -->
<div class="modal fade" id="fqhzModal">
    <div class="modal-dialog ">
        <div class="modal-content" style="background-color: #2D343C;">
            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title text-white">发起会诊</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- 模态框主体 -->
            <div class="modal-body">
                <p class="text-white" >求助说明</p>
                <textarea class="form-control bg-secondary text-white border-0" rows="5" id="help_text"></textarea>
            </div>
            <!-- 模态框底部 -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary text-white" data-dismiss="modal" id="fqhzModalBtn">发送
                </button>
            </div>
        </div>
    </div>
</div>
<!-- 奖励 -->
<div class="modal fade" id="jlModal">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: #2D343C;">
            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title text-white">操作奖励</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- 模态框主体 -->
            <div class="modal-body text-center">
                <p class="text-white">操作成功</p>
                <p class="text-white">恭喜您获取FOYO</p>
                <label class="text-white" id='token_amount'>0</label>
                <label class="text-white">枚</label>
            </div>
            <!-- 模态框底部 -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary text-white" data-dismiss="modal">确认</button>
            </div>
        </div>
    </div>
</div>
<div class="fixed-bottom text-center bg-dark text-white-50">@2018 jiejiewisedoctor.com&nbsp;&nbsp;&nbsp;&nbsp;ALL&nbsp;rights&nbsp;reserved&nbsp;&nbsp;&nbsp;&nbsp;京ICP备16888888号-1</div>
</div>
<script src="/static/js/buffer.js"></script>
<script src="/static/js/file-type.js"></script>
<script src="/static/js/ipfs.js"></script>

<script type="text/javascript">

    ipfs.setProvider();

    $("#fileImport").click(function () {
        $("#files").click();
    })

    function read_file_binary(obj) {
        var file = obj.files[0];
        var reader = new FileReader();
        reader.readAsBinaryString(file);
        reader.onload = function () {
            var data = this.result;
            var jpgBuffer = new buffer.Buffer(data, 'binary');
            ipfs.add(jpgBuffer, function (err, resHash) {
                alert(resHash);
                $("#patient_photo_file").val(resHash);
            });
        }
    }

    function hexToBase64(hexstring) {
    return btoa(hexstring.match(/\w{2}/g).map(function(a) {
        return String.fromCharCode(parseInt(a, 16));
    }).join(""));
    };

</script>
<script>

    $("#update_personal_info").click(function(){
        var data={
            name:$('#name').val(),
            age:$('#age').val(),
            hospital:$('#hospital').val(),
            department:$('#department').val(),
            title:$('#title').val(),
            telephone:$('#telephone').val(),
            mail:$('#mail').val(),
            province:$('#province').val(),
            share: $('#allowshare').val()
        }
//        alert(data.name);
        $.ajax({
            type: 'POST',
            url: '/updatePersonalInfo',
            data: data,
            dataType: 'json',
            success: function(data){
                alert(data.result);
            },
            error: function(){
                alert('修改失败');
            }
        });
    });
</script>
<script>
    $('#check_person').on('click', function () {
            $.ajax({
            type: 'GET',
            url: '/updatePersonalInfo',
            success: function(data){
                $('#name').val(data.name);
                $('#age').val(data.age);
                $('#hospital').val(data.hospital);
                $('#department').val(data.department);
                $('#title').val(data.title);
                $('#telephone').val(data.telephone);
                $('#mail').val(data.mail);
                $('#province').val(data.province);
                $('#allowshare').val(data.allowshare);
            },
            error: function(){
            }
        });
    });
    function changePage(type_number) {
        switch (type_number) {
            case 1:
                document.getElementById("cktest").style.display = "inline";
                document.getElementById("jshz").style.display = "none";
                break;
            case 2:
                document.getElementById("jshz").style.display = "inline";
                document.getElementById("cktest").style.display = "none";
                break;
            default:
                break;
        }
    };
    function previewImage(id){
        var data={
            id:id
        }
        $.ajax({
            type: 'POST',
            url:  '/getImageAddress',
            data: data,
            dataType: 'json',
            success: function(data){
                    if (data.result=='success'){
                    ipfs.cat(data.address, function(err, data) {
                        var buf = new buffer.Buffer(data, 'binary');
                        var src=hexToBase64(buf.toString('hex'))
                        $('#preview').attr('src','data:image/jpeg;base64,'+src)
                    });
                }else{
                    alert(data.info);
                }
            },
           error: function(){
                alert('error');
            }
        });
    };
</script>

</body>
</html>